<div class="col-md-6">
  <label for="job_id" class="form-label">ジョブ*</label>
  <select class="form-select" id="job_d" name="jobId">
    {{#each roles}}
      <optgroup label="{{ name }}">
        {{#each jobs}}
          <option value="{{ id }}">{{ name }}</option>
        {{/each}}
      </optgroup>
    {{/each }}
  </select>
</div>
<div class="col-md-6">
  <label for="position_id" class="form-label">ポジション*</label>
  <select class="form-select" id="position_id" name="positionId">
    {{#each positions}}
      <option value="{{ id }}">{{ name }}</option>
    {{/each }}
  </select>
</div>
