<div class="col-md-3">
  <label for="world-id" class="form-label">ワールド*</label>
  <select class="form-select" id="world-id" name="world-id">
    {{#each datacenters}}
      <optgroup label="{{ name }}">
        {{#each worlds}}
          <option value="{{ id }}">{{ name }}</option>
        {{/each}}
      </optgroup>
    {{/each }}
  </select>
</div>
<div class="col-md-3">
  <label for="job-id" class="form-label">メインジョブ*</label>
  <select class="form-select" id="job-id" name="job-id">
    {{#each roles}}
      <optgroup label="{{ name }}">
        {{#each jobs}}
          <option value="{{ id }}">{{ name }}</option>
        {{/each}}
      </optgroup>
    {{/each }}
  </select>
</div>
