<div class="col-lg-6 mx-auto">
  {{> admin/nav active='member'partyId=party.ulid }}
  <h3>メンバー一覧</h3>
  <div class="m-3">
    {{#xif players.length '<' 8}}
      <a class="btn btn-primary btn-lg" href="/admin/member/add?partyId={{ party.ulid }}">メンバーを追加する</a>
    {{/xif}}
  </div>
  {{#if players.length}}
    <table class="table table-striped table-hover">
      <tbody>
      {{#each players}}
        <tr>
          <td> {{ position.name }}</td>
          <td>
            <img src="/assets/img/job_icons/{{ job.shortName }}.png" alt="{{ job.name }}" width="20" height="20">
            {{ firstName }} {{ lastName }}
            {{#if nickname}}({{ nickname }}){{/if}}
          </td>
          <td><a><i class="bi bi-pencil-fill"></i></a></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="alert alert-danger mt-3" role="alert">
      まだメンバーがいません。メンバーを追加しましょう！
    </div>
  {{/if}}
  <p>
  </p>
</div>
